<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.capacitor.jitsi.plugin.capacitorjitsimeet">
  <application>
    <activity android:name="com.capacitor.jitsi.plugin.JitsiActivity"
              android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode">
    </activity>
  </application>
</manifest>
